# -----------------------------
# Игнорируем приватные ключи
# -----------------------------
.env
*.env
!example.env

# -----------------------------
# Виртуальная среда
# -----------------------------
.venv/
venv/
ENV/
env/

# -----------------------------
# Python cache / build
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pkl
*.log
*.sqlite3
*.db
*.tmp

# -----------------------------
# Тестовые и временные файлы
# -----------------------------
.cache/
pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Cреды IDE
# -----------------------------
.idea/
.vscode/
*.swp
*.swo

# -----------------------------
# Build / dist
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Разные артефакты
# -----------------------------
.DS_Store
Thumbs.db
*.bak
*.old
*.orig
